html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.gutter-box {
  padding: 8px 0;
  background: #00a0e9;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 3rem;
}
